.clock {
  height: 40vw;
  width: 40vw;
  background-image: url("clock.png");
  background-size: 100%;
  margin: auto;
  /* border: 10px black solid; */
  position: relative;
}
.second,
.minute,
.hour {
  position: absolute;
  background-color: black;
  border: 10px;
  /* opacity: 0.8; */
  transform-origin: center bottom;
  border-radius: 5px;
  z-index: 1;
}
.second {
  width: 0.5%;
  height: 45%;
  bottom: 50%;
  left: 49.7%;
  background-color: red;
  /* display: none; */
}
.minute {
  width: 1.5%;
  height: 35%;
  bottom: 50%;
  left: 49.1%;
  /* display: none; */
  background-color: green;
  z-index: 2;
}
.hour {
  width: 1.5%;
  height: 25%;
  bottom: 50%;
  left: 49.15%;
  /* display: none; */
  background-color: blue;
}
.cover {
  left: 45.9%;
  position: absolute;
  width: 8%;
  top: 45.4%;
  height: 8%;
  background-color: black;
  border-radius: 50%;
   z-index: 100;
}
